html {
	background-color: black;
	font-family: $font-family-base;
	overflow-y: auto;
	overflow-x: hidden;
}

body {
	width: 100%;
}

a {
	display: block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

a:hover,
a:focus,
a:active {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

.warp {
	background-size: 1920px auto;
	background-image: url(../pc_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;

	@include extra-large {
		background-size: 160vw auto;
	}

	@include pad {
		background-size: 100vw auto;
		background-image: url(../mb_bg.jpg);
	}
}

.container {
	max-width: 1220px;
	width: 100%;
	@include div-horizontal-center;
}

.kv {
	position: relative;
	max-width: 1220px;
	width: 100%;
	height: 700px;
	background-image: url(../kv_pc.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;

	@include extra-large {
		width: 100vw;
		height: 57.37704918032787vw;
	}
	@include pad {
		height: 133.3333333333333vw;
		background-image: url(../kv_mb.jpg);
	}

	.kv_pro {
		position: absolute;
		right: 5%;
		top: 0;
		width: 597px;
		height: 700px;

		@include extra-large {
			width: 48.9344262295082vw;
			height: auto;
		}

		@include pad {
			width: 77.734375vw;
			left: 50%;
			transform: translateX(-50%);
			top: 33.5%;
		}
		@-webkit-keyframes silder {
			3% {
				opacity: 1;
				filter: alpha(opacity=100);
			}
			27% {
				opacity: 1;
				filter: alpha(opacity=100);
			}
			30% {
				opacity: 0;
				filter: alpha(opacity=0);
			}
		}
		@keyframes silder {
			3% {
				opacity: 1;
				filter: alpha(opacity=100);
			}
			27% {
				opacity: 1;
				filter: alpha(opacity=100);
			}
			30% {
				opacity: 0;
				filter: alpha(opacity=0);
			}
		}

		img {
			position: absolute;
			right: 0;
			top: 0;
			opacity: 0;
			filter: alpha(opacity=0);
			-webkit-animation: silder 9s linear infinite;
			animation: silder 9s linear infinite;

			&:nth-child(2) {
				-webkit-animation-delay: 3s;
				animation-delay: 3s;
			}

			&:nth-child(3) {
				-webkit-animation-delay: 6s;
				animation-delay: 6s;
			}
		}
	}
}

.box {
	width: calc(100% - 30px);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.header_title {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;

	@include div-horizontal-center;

	@include pad {
		height: 26.04166666666667vw;
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 200px;
		background-repeat: no-repeat;
		background-position: center top;

		@include pad {
			height: 26.04166666666667vw;
		}
	}

	&::after {
		background-image: url(../title_bg_light.png);
		background-size: cover;
	}

	&::before {
		background-image: url(../title_bg.png);
		background-size: 100% 200px;

		@include pad {
			background-size: 100% 100%;
		}
	}
}

.shopping_guide,
.limit24,
.hot_sale,
.stockpile,
.good_value,
.brand {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.shopping_guide {
	li {
		width: 25%;
		padding: 15px;

		@include desktops {
			width: 25.35%;
		}

		@include pad {
			width: 50%;
		}

		@include mobile {
			padding: 7.5px;
		}

		&:first-child {
			width: 100%;

			img {
				&:nth-child(1) {
					display: block;
				}

				&:nth-child(2) {
					display: none;
				}

				@include pad {
					&:nth-child(1) {
						display: none;
					}

					&:nth-child(2) {
						display: block;
					}
				}
			}
		}
		&:last-child {
			width: 50%;

			@include desktops {
				width: 49.3%;
			}
			@include pad {
				width: 100%;
			}
		}
	}
}

.limit24 {
	li {
		width: 50%;
		padding: 15px;

		@include pad {
			width: 100%;
		}

		@include mobile {
			padding: 7.5px;
		}
	}
}

.hot_sale {
	margin: 0 -15px;

	img {
		&:nth-child(1) {
			display: black;
		}

		&:nth-child(2) {
			display: none;
		}
		@include pad {
			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				display: block;
			}
		}
	}

	li {
		&:nth-child(odd) {
			background-image: url(../04_pro_odd_bg_pc.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 100% auto;
			@include pad {
				background-image: url(../04_pro_odd_bg_mb.jpg);
			}
		}

		&:nth-child(even) {
			background-image: url(../04_pro_even_bg_pc.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 100% auto;
			@include pad {
				background-image: url(../04_pro_even_bg_mb.jpg);
			}
		}
	}
}

.stockpile {
	li {
		padding: 15px;
		width: 25%;

		@include pad {
			width: 50%;
		}

		@include mobile {
			padding: 7.5px;
		}
	}
}

.good_value {
	li {
		width: 50%;
		padding: 15px;
		@include pad {
			width: 100%;
		}

		@include mobile {
			padding: 7.5px;
		}
	}

	.card_item {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px;
		background-image: url(../06_box_bg.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;

		@include mobile {
			padding: 7.5px;
		}

		.sub_title {
			width: 100%;
			padding: 15px 0;

			@include mobile {
				padding: 7.5px 0;
			}
		}
		.card_pro_l,
		.card_pro_r {
			width: 50%;
			padding: 15px;

			@include mobile {
				padding: 7.5px;
			}
		}
	}
}

.brand {
	li {
		width: 25%;
		padding: 15px;

		@include pad {
			width: calc(100% / 3);
		}

		@include mobile {
			width: 50%;
			padding: 7.5px;
		}
	}
}
